.products {
    .top {
        h1 {
            font-size: 59px;
            line-height: 1.5em;
            padding: 0;
            margin: 0;
            color: #03045e;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            font-size: 20px;
            color: #777777;
            text-align: justify;
        }
        img {
            height: auto;
            width: 100%;
            padding: 50px;
        }
    }
    .list {
        .img {
            padding-top: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .item {
            text-align: center;
            color: #777777;
            .tag {
                font-size: 12px;
                margin-top: 12px;
                &:hover {
                    color: $primary-color;
                }
            }
            .name {
                font-size: 18px;
                color: #494949;
                text-decoration: none;
                font-weight: 500;
                &:hover {
                    color: $primary-color;
                }
            }
            .price {
                font-weight: 700;
                color: #000;
                font-size: 20px;
                padding: 10px 0;
            }
            button {
                border: none;
                border-radius: 6px;
                padding: 6px 18px;
                margin-bottom: 20px;
                &:hover {
                    background-color: $text-color;
                    color: #fff;
                }
            }
        }
    }
}
