.login,
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    form {
        padding: 40px 60px;
        width: 100%;
        max-width: 500px;
        img {
            height: 80px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        input {
            margin-bottom: 10px;
        }
        border: 1px solid rgb(231, 231, 231);
    }
}
