.contact {
    .item {
        padding: 50px 100px;
        img {
            height: 120px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            margin-bottom: 10px;
        }
        label {
            margin-bottom: 10px;
        }
        button {
            margin-top: 20px;
            max-width: 200px;
        }
    }
}
