.footer {
    background-color: #000;
    color: #fff;
    .item {
        padding: 50px;
        img {
            display: block;
            height: 80px;
            margin: 0 auto;
        }
        p {
            margin-top: 20px;
            padding: 0 20px;
            text-align: center;
        }
        text-align: justify;
        line-height: 2;
        h3 {
            text-transform: uppercase;
        }
        ul {
            list-style: none;
            padding: 0;
        }
    }
}
