.news {
  h1 {
    text-transform: uppercase;
    font-size: 36px;
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
  }
  .post {
    display: block;
    overflow: auto;
    padding: 20px;
    text-decoration: none;
    &:hover {
      filter: brightness(0.9);
      background-color: rgba(238, 240, 241, 0.212);
    }
    img {
      float: left;
      height: 180px;
      width: 180px;
      object-fit: cover;
      margin-right: 20px;
    }
    h3 {
      color: $primary-color;
    }
  }
}
