.service {
    .top {
        position: relative;
        img {
            width: 100%;
        }
    }
    h3 {
        color: #1c3e56;
        font-size: 32px;
        font-weight: 600;
        font-style: normal;
        line-height: 48px;
        text-align: center;
        position: absolute;
        bottom: 100px;
        left: 40px;
        right: 40px;
        background-color: rgba(240, 240, 240, 0.691);
    }
    .mid {
        background-color: #daf3ff;
        padding: 80px 0;
        p {
            font-size: 28px;
            color: #003366;
            padding: 0 40px;
        }
        h1 {
            padding: 0 40px;
            font-size: 55px;
            font-weight: 600;
            line-height: 67px;
            color: #003366;
        }
    }
}
