.register span {
  color: red;
  font-size: smaller;
  font-weight: 500;
  display: block;
  /* border: 1px solid black; */
  min-height: 30px;
  margin-top: 0;
  margin-bottom: 00.5rem;
}
.register label {
  min-width: 40%;
}
