.checkout {
  .bill {
    padding: 50px;
  }
  .order {
    padding: 50px 0;
    padding-right: 50px;
    .body {
      padding: 50px;
      border: 1px solid #ececec;
      h3 {
        color: #00b4d8;
      }
      .product {
        margin-bottom: 10px;
        .name {
          font-weight: 500;
          word-break: break-word;
          font-size: 20px;
        }
        .quantity {
          margin-left: 6px;
          font-weight: 500;
          word-break: break-word;
          font-size: 16px;
        }
        .price {
          float: right;
          font-weight: 300;
          font-size: 20px;
        }
      }
      .total {
        display: flex;
        justify-content: space-between;
        h6 {
          font-size: 24px;
          border: none;
          position: relative;
          top: 5px;
        }
        span {
          font-size: 24px;
        }
        border-bottom: 1px solid #e7e7e7;
      }
      h6 {
        letter-spacing: -0.01em;
        font-size: 16px;
        font-weight: 600;
        color: #90e0ef;
        border-bottom: 1px solid #e7e7e7;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}
